<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <title>Welcome back!</title>
    <style>
        body {
            font-family: 'Montserrat', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        }
    </style>
    <title>About Linkring</title> 
</head>
<body class="bg-light">
        <div class="container">
          <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
              <h5>Linkring</h5>
            </a>
      
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/" class="nav-link px-2 link-dark">Linkring</a></li>
              <li><a href="/about" class="nav-link px-2 link-secondary">About</a></li>
              <li><a href="/register" class="nav-link px-2 link-dark">Get Started</a></li>
              
            </ul>
      
            <div class="col-md-3 text-end">
              <button type="button" class="btn btn-primary" onclick="location.href='/login'">Log In</button>
            </div>
          </header>
        </div>
        <div class="px-4 pt-5 my-5 text-center border-bottom">
            <h1 class="display-4 fw-bold">Why Us?</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">We offer a fast and convenient app to organize all your links in one place. Simple and user friendly interface for you.</p>
            </div>
            <div class="overflow-hidden" style="max-height: 30vh;">
              <div class="container px-5">
                <img src="https://bezpechno.files.wordpress.com/2022/06/new.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
              </div>
            </div>
        </div>
        <div class="container px-4 py-5" id="featured-3">
            <h2 class="pb-2 border-bottom">Our advantages:</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
              <div class="feature col">
                <h2>Links</h2>
                <p>Add as many links as you like. No restrictions. At all!</p>
              </div>
              <div class="feature col">
                <h2>Unique</h2>
                <p>Your own design. Your own link. Customize your page the way you want!</p>
              </div>
              <div class="feature col">
                <h2>Flexibility</h2>
                <p>Nothing will stop you from making the page design exactly the way you want.</p>
              </div>
            </div>
          </div>
          <div class="container my-5">
            <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
              <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1">Are we surprised? Try it yourself!</h1>
                <p class="lead">Quick and easy registration - you're already in business. Setting up a personal page is a matter of a couple of minutes. Dare!</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                  <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold" onclick="location.href='/register'">Get Started</button>
                </div>
              </div>
              <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                  <img class="rounded-lg-3" src="https://bezpechno.files.wordpress.com/2022/06/about-handler.png" alt="" width="720">
              </div>
            </div>
          </div>
</body>
</html>